
.App-header {
  background-color: rgb(238, 237, 237);
 /* rgb(30, 73, 118);*/
  /*background-image: url("../src/componentes/Imagenes/fondos/wave.svg");*/
  background-size:cover;
  background-position:top;
  background: cover;
  scroll-behavior: smooth;

}

.cuerpo {
  width: auto;
  display: grid;
  grid-template-columns: 30% 1% 70%
  /*grid:auto-flow / 200px 1fr;*/
}

.hoja{
  margin: auto;
 
}

.plantilla1{
  font-family: 'Quicksand', sans-serif;
}
.plantilla2{
  font-family: 'Poppins', sans-serif;
}
.plantilla3{
  font-family: 'Jost', sans-serif;
}
.plantilla4{
  font-family: 'Raleway', sans-serif;
}
.plantilla5{
  font-family: 'Martel', serif;
}