
.App-header {
  background-color: rgb(238, 237, 237);
  /*background-image: url("../src/componentes/Imagenes/fondos/wave.svg");*/
  background-size:cover;
  background-position:top;
  background: cover;
  scroll-behavior: smooth;

}

.cuerpo {
  width: auto;
  display: grid;
  grid-template-columns: 30% 2% 70%
  /*grid:auto-flow / 200px 1fr;*/
}

.hoja{
  margin: auto;
 
}